@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');



body{
    /*border:1px  solid red !important;*/
    font-family: 'Lato', sans-serif;
    color: #6c757d!important;
    font-weight: 400;
}


.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.intro_image{
    width: 100%;
    margin: 0 auto;
    display: block;
}

#featured_work img {

    margin: 0 auto;
    display: block;;
}

#featured_work p {

    font-weight: 300;
}


.text-thin{
    font-weight: 300;
}


.text-bold{
    font-weight: 700;
}

.title-super{
    font-size: 60px;
}

.title-logo{
    font-size: 20px;
}
.logo{
    width: 100px
}



.primary{
    color: #F3614A;
}

.btn{
    background: #F3614A;
    border: none;
}
.secondary{
    color: #1b1e21;
}

a{
    color: #6c757d;
}

a:hover{
    text-decoration: none;
    color: #F3614A;
}

#featured_work h3 {margin-top: .5em;}

.modal-body img {
    display: block;
    width: 100%;
    margin: 0 auto 1em;
}

.row{
    margin-bottom: 1em;
}